/* Estilos para el texto del signo */
#textoSigno {
    border-radius: 10px;
    padding: 10px; /* Añadimos espacio alrededor del texto */
    background-color: #5f5252; /* Color de fondo */
    color: white; /* Color del texto */
}
